{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center">AlloPizza</h1>
    <div class="w-50 m-auto">
        <p>Bienvenue sur AlloPizza</p>
        <p>Cliquez ici pour <a href="{{ path('product') }}">ici</a> commander</p>
    </div>

{% endblock %}
